@use 'vars';

.cars {
    &__title {
        color: vars.$color-02;
    }
        &__list {
        color: vars.$color-04;

        &__item {
            background-color: vars.$color-default;
        }
    }
}