@use 'vars';

.destack {
    background-color: vars.$color-04;
    padding: vars.$space-default;
    &__title {
        color: vars.$color-03;
        float: left;
        font-size: vars.$font-big;
        margin-top: 0;
    }
    &__subtitle {
        float: left;
        font-size: vars.$font-small;
        margin-left: vars.$space-default;
        margin-top: vars.$mt;
    }
    &__image {
        width: 100%;
        height: auto;
        margin: vars.$space-default auto;
    }
    &__description {
        font-size: vars.$font-normal;
        color: vars.$color-01;
        padding: 2rem 0;
        width: 100%;
    }
}